<div data-role="view"  data-title="" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
<div style="height:100vh">
    	<img src="images/pic-logo-greencard.png" alt="Green card logo" style="margin:0px auto;display:block;width: 60%; height: auto;">
    
  
    <p style="font-size:20px; " class="message"><B>แอปเดียวเขียวทั่วไทย</B></p>
    <p style="font-size:50px; "class="message" ><B> รักโลกง่ายๆ <br> ทำได้ 24 ชั่วโมง </B></p><br>

	<div id="submitfunc" class="button-group" >
                <a class="primary" data-role="button" data-transition="slide" data-bind="events: { click: login }">เข้าสู่ระบบ</a>
                <a class="primary" data-role="button" data-transition="slide" data-bind="events: { click: register }">ลงทะเบียน</a>
    </div>

	<p class="message" style="margin:50px auto;">พัฒนาโดยบริษัทดาต้ารูท เอเชีย จำกัด</p>

    </div>
</div>