<div data-role="view"  data-title="" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
<div style="height:100vh">
    	<img src="images/pic-logo-greencard.png" alt="Green card logo" style="margin:10px auto;display:block;width: 80%; height: auto;">
    <p class="message">บัตรเดียวเขียวทั่วไทย</p></br>
    <p class="message" > รักโลกง่ายๆ </br> ทำได้ 24 ชั่วโมง </p></br>

	<div id="submitfunc" class="button-group">
                <a class="primary" data-role="button" data-bind="events: { click: login }">เข้าสู่ระบบ</a>
                <a class="primary" data-role="button" data-bind="events: { click: register }">ลงทะเบียน</a>
    </div>

	<p class="message">แอพพลิเคชั่นโดยบริษัทดาต้ารูท เอเชีย จำกัด</p>

    </div>
</div>