#kendoUiMobileApp .image-with-text img {
    float: left;
    margin-right: 15px;
}

#kendoUiMobileApp .block {
    display: block;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

#kendoUiMobileApp .button-group,
#kendoUiMobileApp .icon-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

#kendoUiMobileApp .button-group {
    table-layout: fixed;
}

#kendoUiMobileApp .button-group .km-button {
    display: table-cell;
    padding: .6em .8em;
    margin: 1em 0;
}

#kendoUiMobileApp .button-group.button-group-vertical .km-button {
    display: block;
}

#kendoUiMobileApp .group-separator {
    border: none;
    background: transparent;
}

#kendoUiMobileApp .group-separator-header {
    margin: 1em 0;
}

#kendoUiMobileApp .app-icon {
    text-align: center;
    margin: 3em 0;
}

#kendoUiMobileApp .view-title {
    text-align: center;
    font-weight: normal;
}

#kendoUiMobileApp .km-drawer-button:after,
#kendoUiMobileApp .km-drawer-button:before {
    content: '\e077';

}

#kendoUiMobileApp.km-flat .km-drawer .km-content {
    background-color: #fcfcfc;
}

#kendoUiMobileApp form .form-content li p {
    margin: 0;
}

#kendoUiMobileApp .icon-group .app-icon,
#kendoUiMobileApp .icon-group .app-details {
    display: table-cell;
    vertical-align: top;
}

#kendoUiMobileApp .icon-group .app-icon {
    margin: 0;
    width: 5em;
    overflow: hidden;
    text-align: left;
}

#kendoUiMobileApp .icon-group .app-icon img {
    display: block;
    max-width: 5em;
    height: auto;
}

#kendoUiMobileApp .icon-group .app-details h2,
#kendoUiMobileApp .icon-group .app-details h4 {
    font-weight: normal;
    margin: 0;
}

#kendoUiMobileApp .icon-group .app-details h4 {
    color: #828282;
    margin-top: 0.5em;
}

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button {
    vertical-align: top;
}

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button .km-text {
    max-width: 100%;
    word-wrap: break-word;
}

#kendoUiMobileApp #navigation-container .active {
    background: #10c4b2;
    color: #fff;
}

#kendoUiMobileApp #navigation-container .active:after {
    color: #fff;
}

#kendoUiMobileApp.km-nova #navigation-container.km-tabstrip .km-button {
    vertical-align: middle;
}

#kendoUiMobileApp.km-nova p {
    margin-left: 1rem;
    margin-right: 1rem;
}

#kendoUiMobileApp.km-nova span.km-switch {
    color: #ff4350;
}

#kendoUiMobileApp.km-nova span.km-switch.km-switch-on input[type=checkbox]:checked + span + span {
    border-color: #ff4350;
    background-color: #ff4350;
}

#kendoUiMobileApp .unsupported-preview {
    text-align: center;
    margin-top: 12rem;
}

#kendoUiMobileApp .info-icon {
    margin: 0 auto;
    width: 3.3rem;
    height: 3.3rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAABIklEQVRoge3YMU4CURDG8R+KqImGxNoTWNgYqSgtvYBn8EY2nkE7LTwItbGUwhgLFSxgLTS4i4w+SOafTDc73/vydva9HZIkSZIlooNrPM6IK2wUW10DehjXRC9ScC2ymMkOROQ0JtrAv5MGvjAKyinGLgZmN/AAO5GCrchiU9rY9313R7jH2x9oJslvieqBU5z5+Zowwh0ugjTD6OBF/RWiioNI8YhzYBtbc+TvBWh+kiexwt/1CAPPuMR7QK3i9NU3cT9SMHugNGmgNGmgNCtvYD2ozjHOcYLDmtxNHOEJD0H6C9HGUPPbaBXD6bPF6Zp/8VV0FxVf+R6IMLDInGdpZkS35n99biKEo/6JWyazoKaj81eTGdE4SD9JkiRJVpMPXjloDVm2S04AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
}

#kendoUiMobileApp .editableListItem label {
    display: block;
}

#kendoUiMobileApp .editableListItem label span {
    display: inline-block;
    width: 50%;
    float: right;
    word-break: break-word;
}


/* primary buttons */

#kendoUiMobileApp.km-flat .button-group .km-button.primary {
    background-color: #10c4b2;
}

#kendoUiMobileApp.km-nova .button-group .km-button.primary {
    /*background-color: #ff4350;*/
    
    background-color:transparent;
    background-image: url('../images/button-large.png');
    background-size: 100% 100%;
    border-color: transparent;
    
}
#kendoUiMobileApp.km-nova .button-group .km-button.primary2 {
    /*background-color: #ff4350;*/
    
    background-color:transparent;
    background-image: url('../images/button-large.png');
    background-size: 100% 100%;
    border-color: transparent;
    float:right;
    
}

#kendoUiMobileApp.km-flat .button-group .km-button.primary {
    color: #fff;
}

#kendoUiMobileApp.km-ios7 .button-group .km-button.primary {
    color: #fff;
    background-color: #007aff;
}

#kendoUiMobileApp.km-android .button-group .km-button.primary {
    color: #fff;
    background-color: #33b5e5;
}


/* buttons */

#kendoUiMobileApp.km-nova .button-group .km-button.primary,
#kendoUiMobileApp.km-nova .km-button.km-state-active {
    color: #000;
    font-size:20px;
    font-family: 'sukhumvitreg', arial, sans-serif;
    
}


/* form label position */

#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-above {
    font-size: 0.8em;
}

#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-above input:not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-above select:not([multiple]),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden input:not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden select:not([multiple]) {
    width: 100%;
    position: static;
    margin-left: -0.4rem;
    margin-right: -0.4rem;
}

#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden input:not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-label-hidden select:not([multiple]) {
    position: absolute;
}

#kendoUiMobileApp.km-flat .form-content .form-content-item .km-listview-label.km-label-above input[type=radio],
#kendoUiMobileApp.km-flat .form-content .form-content-item .km-listview-label.km-label-above input[type=checkbox] {
    font-size: 1.2em;
}

#kendoUiMobileApp.km-nova .form-content .form-content-item .km-label-hidden input:not(.k-input):not([type='checkbox']):not([type='radio']),
#kendoUiMobileApp.km-nova .form-content .form-content-item .km-label-hidden select:not([multiple]) {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#kendoUiMobileApp.km-nova .form-content .form-content-item .km-listview-label.km-label-above {
    width: auto;
}

#kendoUiMobileApp.km-nova .form-content .form-content-item .km-listview-label.km-label-above input[type=radio],
#kendoUiMobileApp.km-nova .form-content .form-content-item .km-listview-label.km-label-above input[type=checkbox] {
    margin-top: 0.5rem;
    right: -0.2rem;
}

#kendoUiMobileApp.km-nova .form-content .form-content-item .km-listview-label.km-label-above input[type=checkbox]:after {
    font-size: 1.6em;
}


/* custom filter */

#kendoUiMobileApp.km-flat .custom-filter input {
    font-size: 1.2em;
    padding: .3em 0 .3em 1.8em;
}

#kendoUiMobileApp.km-flat .km-filter-wrap:before {
    position: absolute;
    top: .25em;
}

#kendoUiMobileApp.km-nova .custom-filter input {
    
    padding: .5em 0 .5em 1.8em;
}

#kendoUiMobileApp.km-nova .km-filter-wrap:before {
    color: #cacdce;
}
.message {
    /*font-size: 22;
    color: #ffffff;*/
    text-align: center;
}

@font-face {
   font-family: 'sukhumvitlight';
      src: url('sukhumvitlight-webfont.eot');
      src: url('sukhumvitlight-webfont.eot?#iefix') format('embedded-opentype'),
           url('sukhumvitlight-webfont.woff') format('woff'),
           url('sukhumvitlight-webfont.ttf') format('truetype');

   font-weight: normal;
   font-style: normal;
}

.u400 {
   font-family: 'sukhumvitlight', arial, sans-serif;
   font-weight: normal;
   font-style: normal;
}
p {
   font-family: 'sukhumvitlight', arial, sans-serif;
   font-weight: normal;
   font-style: normal;
}
span{
   font-family: 'sukhumvitlight', arial, sans-serif;
   font-weight: normal;
   font-style: normal;
}
.backgroundimg
{
    background-image: url('../images/button-large.png');
    background-size: 100% 100%;
}

input{
    background-color:transparent;
  
    border-color: transparent;
    font-size:25px;
    font-family: 'sukhumvitreg', arial, sans-serif;
}



/* START_CUSTOM_CODE_kendoUiMobileApp */


/* Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes */


/* END_CUSTOM_CODE_kendoUiMobileApp */

@font-face {
   font-family: 'sukhumvitlight';
      src: url('sukhumvitlight-webfont.eot');
      src: url('sukhumvitlight-webfont.eot?#iefix') format('embedded-opentype'),
           url('sukhumvitlight-webfont.woff') format('woff'),
           url('sukhumvitlight-webfont.ttf') format('truetype');

   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'sukhumvitreg';
      src: url('sukhumvitreg-webfont.eot');
      src: url('sukhumvitreg-webfont.eot?#iefix') format('embedded-opentype'),
           url('sukhumvitreg-webfont.woff') format('woff'),
           url('sukhumvitreg-webfont.ttf') format('truetype');

   font-weight: normal;
   font-style: normal;
}

.message {

   /* font-size:20px; */
    /*color: #ffffff;*/
    text-align: center;
}

p {
   font-family: 'sukhumvitreg', arial, sans-serif;
   font-weight: normal;
   font-style: normal;
}

.form_reg {
    font-size: 18;
    /*color: #ffffff;*/
}
button {
    /*color: #ffffff; */
    /*
    border-width: 1;
    border-color: #ffffff;
    background-color: transparent;
    background:transparent;*/
    /* width: 250; */
    /*
    margin: 20 10;
    border-radius: 10;*/
    /*font-weight: bold; */
    /*
    font-size: 30;
    text-align: center;*/
    
    background-color:transparent;
    background-image: url('../images/button-large.png');
    background-size: 100% 100%;
    border-color: transparent;
    border-width: 1;
}

 

.textbox { 
    background: transparent ; 
    border: 1px solid #999; 
    outline:0; 
    height:25px; 
    width: 275px; 
  } 


.circle-of-fifths {

  height: 100vw;
  position: relative;

}

.key {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key > * {
  position: absolute;
}

.key:nth-child(1) {
  -webkit-transform: translate(0vw, -24.75vw);
          transform: translate(0vw, -24.75vw);
}
.key:nth-child(2) {
  -webkit-transform: translate(12.375vw, -21.43412874vw);
          transform: translate(12.375vw, -21.43412874vw);
}
.key:nth-child(3) {
  -webkit-transform: translate(21.43412874vw, -12.375vw);
          transform: translate(21.43412874vw, -12.375vw);
}
.key:nth-child(4) {
  -webkit-transform: translate(24.75vw, 0vw);
          transform: translate(24.75vw, 0vw);
}
.key:nth-child(5) {
  -webkit-transform: translate(21.43412874vw, 12.375vw);
          transform: translate(21.43412874vw, 12.375vw);
}
.key:nth-child(6) {
  -webkit-transform: translate(12.375vw, 21.43412874vw);
          transform: translate(12.375vw, 21.43412874vw);
}
.key:nth-child(7) {
  -webkit-transform: translate(0vw, 24.75vw);
          transform: translate(0vw, 24.75vw);
}
.key:nth-child(8) {
  -webkit-transform: translate(-12.375vw, 21.43412874vw);
          transform: translate(-12.375vw, 21.43412874vw);
}
.key:nth-child(9) {
  -webkit-transform: translate(-21.43412874vw, 12.375vw);
          transform: translate(-21.43412874vw, 12.375vw);
}
.key:nth-child(10) {
  -webkit-transform: translate(-24.75vw, 0vw);
          transform: translate(-24.75vw, 0vw);
}
.key:nth-child(11) {
  -webkit-transform: translate(-21.43412874vw, -12.375vw);
          transform: translate(-21.43412874vw, -12.375vw);
}
.key:nth-child(12) {
  -webkit-transform: translate(-12.375vw, -21.43412874vw);
          transform: translate(-12.375vw, -21.43412874vw);
}


.begincircle
{  
 position: relative; 
}

.circle1
{  
  position: absolute;
  top: 2vw;
  left: 50%;
}
.circle2
{
  position: absolute;
  top: 5vw;
  left: 62.5%;
}
.circle3
{
  position: absolute;
  top: 14.5vw;
  left: 71.5%;
}
.circle4
{
  position: absolute;
  top: 26vw;
  left: 74.5%;
}
.circle5
{
  position: absolute;
  top: 39vw;
  left: 71.5%;
}
.circle6
{
  position: absolute;
  top: 48vw;
  left: 62.5%;
}
.circle7
{
  position: absolute;
  top: 51vw;
  left: 50%;
}
.circle12
{
  position: absolute;
  top: 5vw;
  left: 36.5%;
}
.circle11
{
  position: absolute;
  top: 14vw;
  left: 27%;
}
.circle10
{
  position: absolute;
  top: 26vw;
  left: 24%;
}
.circle9
{
  position: absolute;
  top: 39vw;
  left: 28%;
}
.circle8
{
  position: absolute;
  top: 48vw;
  left: 36.5%;
}
.circle2text
{
  position: absolute;
  top: 28vw;
  left: 43%;
}

        .listCert {
            float: right;
        }
.ListViewID
{
     height: 400px;
     overflow: auto;
}


