<div data-role="view" data-title="" data-layout="main" data-model="app.forgotpass" data-show="app.forgotpass.onShow" data-after-show="app.forgotpass.afterShow">
    <div id="forgotpassModel" class="form-view" style="height:100vh">
        <img src="images/button-arrow-left.png" alt="left" style="margin:10px 10px;width: 15px; height: auto;" data-bind="events: { click: forgotpassModel.gosignin }">
        <p style="font-size:27px;"><b>ลืมรหัสผ่าน</b></p>
        <p style="font-size:25px;">กรุณากรอกอีเมล์ที่ลงทะเบียนไว้</p>
        
        
        <form>
            
                    <table style="width:95%;margin:0px 10px 0px 10px;" class="message" >
                       <tr class="backgroundimg" >
                           <td>
                            <input data-bind="value: forgotpassModel.fields.reemail" placeholder="อีเมล์ที่ลงทะเบียนไว้" type="email">
                           </td>
                       </tr>
                    </table>
        </form>
      
                <div class="button-group" style="width:50%; margin:auto; text-align:center;">
                    <a class="primary" data-role="button" data-bind="events: { click: forgotpassModel.submit }">ส่ง</a>
                </div>
       
        
        <!-- START_CUSTOM_CODE_forgotpassModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_forgotpassModel -->
    </div>

    <!-- START_CUSTOM_CODE_forgotpass -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_forgotpass -->
</div>