<div data-role="view" data-title="" data-layout="main" data-model="app.signin" data-show="app.signin.onShow" data-after-show="app.signin.afterShow">
    <div style="height:100vh">
     <table style="width:100%">
  <tr>
    <td><img src="images/button-arrow-left.png" alt="left" style="margin:10px 20px;width: 15px; height: auto;" data-bind="events: { click: signinModel.gohome }"></td> 
      <td style="float:right;margin:10px 10px;" ><span  style="font-size:20px;"class="form_reg" data-bind="events: { click: signinModel.gotermofuse }">ลงทะเบียน</span></td>
  </tr>
        </table>
   
    <p style="margin:10px 20px;font-size:25px;"><b>เข้าสู่ระบบ</b></p>

        <div id="signinModel" data-role="validator" novalidate="novalidate" >
            <form>
                <table style="width:95%;margin:0px 10px 0px 10px;" class="message" >
                   <tr class="backgroundimg" >
                       <td>
                           <input id="signinemail" name="signinemail" style="width:80%;" data-bind="value: signinModel.fields.email"  required validationMessage="***" placeholder="อีเมล์ของคุณ" type="email" >
                           <span class="k-invalid-msg" data-for="signinemail"></span>
                           
                       </td> 
                  </tr>
                  <tr class="backgroundimg"> 
                      <td>
                          <input id="signinpassword" name="signinpassword" style="width:80%;" data-bind="value: signinModel.fields.password" required validationMessage="***" placeholder="รหัสผ่าน" type="password">
                      
                          <span class="k-invalid-msg" data-for="signinpassword"></span>
                      </td>
                  </tr>
                  <tr style="height:40vh;">
                      
                  </tr>
                    
                    
                </table>
             </form>
             <div class="button-group" style="width:95%;">
                <a  class="primary" data-role="button" data-bind="events: { click: signinModel.submit }">ลงชื่อเข้าใช้</a>
             </div>
        </div>
        
          <table style="width:100%">
  <tr>
    <td style="float:left;margin:10px 20px;" ><span class="form_reg" data-bind="events: { click: signinModel.gotermofuse }">ข้อตกลงการใช้งาน</span></td> 
      <td style="float:right;margin:10px 20px;" >
          <!--
          <span class="form_reg" data-bind="events: { click: signinModel.goforgotpass }">ลืมรหัสผ่าน</span>
          -->
          <a class="form_reg" href="https://green.odooportal.com/web/reset_password" data-rel="external" target="_blank">
              <span class="form_reg">ลืมรหัสผ่าน</span>
          </a>
          </td>
  </tr>
        </table>
        
        
</div>
</div>