<div data-role="view" data-title="" data-reload="true" data-layout="main-nonav" data-model="app.earn" data-show="app.earn.onShow" data-after-show="app.earn.afterShow">

    <div id = "headerearnGreen">
      <table style="width:100%"  class="message" >
    <tr>
    	<td style="width:23%">
        <img  src="images/pic-logo-home.png" style="width: 30px; height: auto;" />
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="width:23%">
           <img  src="images/icon-menu02.png" style="width: 30px; height: auto;" /> <br>
            <span class="form_reg" style="font-size:12px;"><b>ฉลากสิ่งแวดล้อม</b></span>
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="width:23%">
           <img  src="images/icon-menu03.png" style="width: 30px; height: auto;" /> <br>
            <span class="form_reg" style="font-size:12px;"><b>ข่าวสาร</b></span>
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="float:right;margin:10px 10px;">
        
            <span class="form_reg"><b> คะแนนสะสม</b>  <br></span>
            <span class="form_reg" style="font-size:12px;font-weight: bold;" data-bind="text: data" ></span>
            
        </td>
    </tr>
        <tr>
            <td colspan="7">
        	<img  src="images/line.png" style="margin:5px auto;display:block;width: 90%; height: auto;" />
        	</td>
        </tr>
    </table>
    </div>
    <table style="width:100%"  class="message" >
        <tr>
            <td style="float:left;margin:10px 20px;">
                <span style="font-size:20px;color: #ffffff;" data-bind="events: { click: earnModel.information }">หน้าหลัก</span>
            </td>
            <td>
                <span style="font-size:20px;font-weight: bold;" data-bind="events: { click: earnModel.earn }">สะสมคะแนน</span>
            </td>
            <td style="float:right;margin:10px 20px;">
                <span style="font-size:20px; color: #ffffff;" data-bind="events: { click: earnModel.burnPoint }">รับสิทธิ์</span>
            </td>
        </tr>
    </table>
    
        
    
        <img  src="images/barcode.png" style="margin:10px auto;display:block;width: 45%; height: auto;" />
    <p class="message" style="font-size:20px;">
    <p class="message" style="font-size:20px;">
        บาร์โคด
    </p>
        
    <div id="scanview" class="button-group" style="width:50%; margin:auto; text-align:center;"> 
		<a class="primary"   data-role="button" data-bind="events: { click: scan }">ยืนยัน</a>
  	</div> 
        
        <p class="message" style="font-size:20px;">
        หรือ
    </p>
        
      <div id="scanview2" class="button-group" style="width:50%; margin:auto; text-align:center;"> 
            <a  class="primary"  data-role="button" data-bind="events: { click: earnbyid }">ไม่พบบาร์โค้ด</a>
  	</div> 
        
        
    
    <div style="height:100vh"></div>
    
</div>