<div data-role="view" data-title="Earn" data-layout="main-nonav" data-model="app.earn" data-show="app.earn.onShow" data-after-show="app.earn.afterShow">

          <div class="button-group">
    <a class="primary" data-role="button" data-bind="events: { click: earnModel.information }">ฉลาดซื้อฉลาดเลือก</a>
    <a class="primary" data-role="button" data-bind="events: { click: earnModel.earn }">สะสมคะแนน</a>
    <a class="primary" data-role="button" data-bind="events: { click: earnModel.burnPoint }">รับสิทธิ์</a>
	</div>
   +++ EARN !!!!!
</div>