<div data-role="view"  data-title="" data-reload="true" data-layout="main-nonav" data-model="app.burnPoint" data-show="app.burnPoint.onShow" data-after-show="app.burnPoint.afterShow">

    <div id = "headerburnPoint">
   <table style="width:100%"  class="message" >
    <tr>
    	<td style="width:23%">
        <a href="#components/welcome/view.html"><img  src="images/pic-logo-home.png" style="width: 30px; height: auto;" /></a>
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="width:23%">
           <img  src="images/icon-menu02.png" style="width: 30px; height: auto;" /> <br>
            <span class="form_reg" style="font-size:12px;"><b>ฉลากสิ่งแวดล้อม</b></span>
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="width:23%">
           <img  src="images/icon-menu03.png" style="width: 30px; height: auto;" /> <br>
            <span class="form_reg" style="font-size:12px;"><b>ข่าวสาร</b></span>
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="float:right;margin:10px 10px;">
        
            <span class="form_reg"><b> คะแนนสะสม</b>  <br></span>
            <span class="form_reg" style="font-size:12px;font-weight: bold;" data-bind="text: data" ></span>
            
        </td>
    </tr>
        <tr>
            <td colspan="7">
        	<img  src="images/line.png" style="margin:5px auto;display:block;width: 90%; height: auto;" />
        	</td>
        </tr>
    </table>
    </div>
    <table style="width:100%"  class="message" >
        <tr>
            <td style="float:left;margin:10px 20px;">
                <span style="font-size:20px;color: #ffffff;" data-bind="events: { click: burnPointModel.information }">หน้าหลัก</span>
            </td>
            <td>
                <span style="font-size:20px;color: #ffffff;" data-bind="events: { click: burnPointModel.earn }">สะสมคะแนน</span>
            </td>
            <td style="float:right;margin:10px 20px;">
                <span style="font-size:20px;font-weight: bold;" data-bind="events: { click: burnPointModel.burnPoint }">รับสิทธิ์</span>
            </td>
        </tr>
    </table>
   
        <div data-role="scrollview"
            data-source="app.burnPoint.eventgiftsdata"
            data-template="scrollview-template"
            data-content-height="250px"
            id="scrollvieweventgiftsdata">
    	</div>
       <script type="text/x-kendo-template" id="scrollview-template">
           <a href="\\#components/detailsgifts/view.html?id=#: id #">
            <img style="width:96%;margin:0px auto;display:block;" src="#: image_url #" />
           </a>
     </script>
    
    <!--
    <ul data-role="listview" id="listview" data-source="app.burnPoint.data2" data-template="books-template"></ul>

    <script type="text/x-kendo-template" id="books-template">
        <a href="components/detailsgifts/view.html?id=#: id #">
            <div>#: required_points #</div>
            <div>#: id #</div>
            <div>#: end_date #</div>
            <div><img   style="width:80%;" src="#:image_url#" /></div>
            <div>#: name #</div>
        </a>
     </script>
    
     <script type="text/x-kendo-template" id="scrollview-template">
          
            <div>#: id #</div>
            <div><img style="width:80%;" src="#:image_url#" /></div>
        
     </script>
    -->
    <!--
    
    <ul id = "top" data-role="listview" data-source="app.burnPoint.data3" data-template="data2-template"></ul>
    
<script id="data2-template" type="text/x-kendo-template">
    
  <img src="http://demos.telerik.com/kendo-ui/content/web/foods/#= ProductID #.jpg">
  <p>#= ProductName #</p>
</script>
   -->
    
   <ul id="giftslist" class="grid"></ul>
       
     <script id="giftslisttmp" type="text/x-kendo-template">
           <a href="components/detailsgifts/view.html?requiredpoints=#: required_points#&id=#: id #"> 
                    <img style="width:100%;" src="#: image_url #"/>
         </a>
       </script>
    
    <table style="width:100%;"></table>
    <div style="height:30vh"></div>
   
</div>