<div data-role="view"  data-title="BurnPoint" data-reload="true" data-layout="main-nonav" data-model="app.burnPoint" data-show="app.burnPoint.onShow" data-after-show="app.burnPoint.afterShow">

    <div id = "headerburnPoint">
    <table style="width:100%">
    <tr>
    	<td>
        <img  src="images/pic-logo-home.png" style="margin:10px 10px;width: 30px; height: auto;" />
        </td>
        <td style="float:right;margin:10px 10px;">
        
            <span class="form_reg"> คะแนนสะสม  <br></span>
              <span class="form_reg" data-bind=" text: data"></span>
            
        </td>
    </tr>
        <tr>
            <td colspan="2">
        	<img  src="images/line.jpg" style="margin:10px auto;display:block;width: 90%; height: auto;" />
        	</td>
        </tr>
    </table>
    </div>
    
      <div class="button-group">
    <a class="primary" data-role="button" data-bind="events: { click: burnPointModel.information }">ฉลาดซื้อฉลาดเลือก</a>
    <a class="primary" data-role="button" data-bind="events: { click: burnPointModel.earn }">สะสมคะแนน</a>
    <a class="primary" data-role="button" data-bind="events: { click: burnPointModel.burnPoint }">รับสิทธิ์</a>
	</div>
   
        <div data-role="scrollview"
            data-source="app.burnPoint.eventgiftsdata"
            data-template="scrollview-template"
            data-content-height="300px"
            id="scrollview">
    	</div>
       <script type="text/x-kendo-template" id="scrollview-template">
            <img style="width:80%;" src="#: image_url #" data-bind="events: { click: burnPointModel.clickedImage }" />
     </script>
    
    <!--
    <ul data-role="listview" id="listview" data-source="app.burnPoint.data2" data-template="books-template"></ul>

    <script type="text/x-kendo-template" id="books-template">
        <a href="components/detailsgifts/view.html?id=#: id #">
            <div>#: required_points #</div>
            <div>#: id #</div>
            <div>#: end_date #</div>
            <div><img   style="width:80%;" src="#:image_url#" /></div>
            <div>#: name #</div>
        </a>
     </script>
    
     <script type="text/x-kendo-template" id="scrollview-template">
          
            <div>#: id #</div>
            <div><img style="width:80%;" src="#:image_url#" /></div>
        
     </script>
    -->
    <!--
    
    <ul id = "top" data-role="listview" data-source="app.burnPoint.data3" data-template="data2-template"></ul>
    
<script id="data2-template" type="text/x-kendo-template">
    
  <img src="http://demos.telerik.com/kendo-ui/content/web/foods/#= ProductID #.jpg">
  <p>#= ProductName #</p>
</script>
   -->
    
   <div id="giftslist"></div>
       
     <script id="giftslisttmp" type="text/x-kendo-template">
           <a href="components/detailsgifts/view.html?id=#: id #">
            <table>
                <tr>
                	<td>
                    <img style="width:80%;" src="#: image_url #"/>
                    </td>
                    <td>
                     <p> #: name # </p>
                    id = #: id # <br>
                    required_points = #: required_points # 
                    </td>
                </tr>
            </table> 
         </a>
       </script>
   
</div>