    <div data-role="view" data-title="" data-layout="main-nonav" data-model="app.earnbyid" data-show="app.earnbyid.onShow" data-after-show="app.earnbyid.afterShow">
     <div id = "headerearnbyid8">
        <table style="width:100%"  class="message" >
    <tr>
    	<td style="width:23%">
        <a href="#components/welcome/view.html"><img  src="images/pic-logo-home.png" style="width: 30px; height: auto;" /></a>
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="width:23%">
           <img  src="images/icon-menu02.png" style="width: 30px; height: auto;" /> <br>
            <span class="form_reg" style="font-size:12px;"><b>ฉลากสิ่งแวดล้อม</b></span>
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="width:23%">
           <img  src="images/icon-menu03.png" style="width: 30px; height: auto;" /> <br>
            <span class="form_reg" style="font-size:12px;"><b>ข่าวสาร</b></span>
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="float:right;margin:10px 10px;">
        
            <span class="form_reg"><b> คะแนนสะสม</b>  <br></span>
            <span class="form_reg" style="font-size:12px;font-weight: bold;" data-bind="text: data" ></span>
            
        </td>
    </tr>
        <tr>
            <td colspan="7">
        	<img  src="images/line.png" style="margin:5px auto;display:block;width: 90%; height: auto;" />
        	</td>
        </tr>
    </table>
    </div>
    <table style="width:100%"  class="message" >
        <tr>
            <td style="float:left;margin:10px 20px;">
                <span style="font-size:20px;color: #ffffff;" data-bind="events: { click: earnbyidModel.information }">หน้าหลัก</span>
            </td>
            <td>
                <span style="font-size:20px;font-weight: bold;" data-bind="events: { click: earnbyidModel.earn }">สะสมคะแนน</span>
            </td>
            <td style="float:right;margin:10px 20px;">
                <span style="font-size:20px; color: #ffffff;" data-bind="events: { click: earnbyidModel.burnPoint }">รับสิทธิ์</span>
            </td>
        </tr>
    </table>
    

        
     <div class="clock">
		<div class="clock-container">
			<div class="clock-12">
				<img src= "keyin_image/icon-keyin01-on.png" style="height: auto; width:70px;" data-bind="events: { click: earnbyidModel.clickedImage1 }"  />
			</div>
			<div class="clock-1">
				<img src= "keyin_image/icon-keyin02-on.png" style="height: auto; width:70px;" data-bind="events: { click: earnbyidModel.clickedImage2 }"  />
			</div>
			<div class="clock-2">
				<img src= "keyin_image/icon-keyin03-on.png" style="height: auto; width:70px;" data-bind="events: { click: earnbyidModel.clickedImage3 }"  /> 
			</div>
			<div class="clock-3">
				<img src= "keyin_image/icon-keyin04-on.png" style="height: auto; width:70px;" data-bind="events: { click: earnbyidModel.clickedImage4 }"  /> 
			</div>
			<div class="clock-4">
				<img src= "keyin_image/icon-keyin05-on.png" style="height: auto; width:70px;" data-bind="events: { click: earnbyidModel.clickedImage5 }"  /> 
			</div>
			<div class="clock-5">
				<img src= "keyin_image/icon-keyin06-on.png" style="height: auto; width:70px;" data-bind="events: { click: earnbyidModel.clickedImage6 }"  /> 
			</div>
			<div class="clock-6">
				<img src= "keyin_image/icon-keyin07-on.png" style="height: auto; width:70px;" data-bind="events: { click: earnbyidModel.clickedImage7 }"  /> 
			</div>
			<div class="clock-7">
				<img src= "keyin_image/icon-keyin08-over.png" style="height: auto; width:70px;" data-bind="events: { click: earnbyidModel.clickedImage8 }"  /> 
			</div>
			<div class="clock-8">
				<img src= "keyin_image/icon-keyin09-on.png" style="height: auto; width:70px;" data-bind="events: { click: earnbyidModel.clickedImage9 }"  /> 
			</div>
			<div class="clock-9">
				<img src= "keyin_image/icon-keyin10-on.png" style="height: auto; width:70px;" data-bind="events: { click: earnbyidModel.clickedImage10 }"  /> 
			</div>
			<div class="clock-10">
				<img src= "keyin_image/icon-keyin11-on.png" style="height: auto; width:70px;" data-bind="events: { click: earnbyidModel.clickedImage11 }"  />
			</div>
			<div class="clock-11">
				<img src= "keyin_image/icon-keyin12-on.png" style="height: auto; width:70px;" data-bind="events: { click: earnbyidModel.clickedImage12 }"  />
			</div>
		</div>
             
	</div>
        
        <div class="clock-text">
            <p>เครื่องใช้ในบ้านเรือน </p>
          
         </div>
    
    <div id="earnbyid8" data-role="listview" data-source="app.earnbyid.dataearnbyid8" data-template="earnlisttmp" class="grid btn-category-cancel"></div>
       
     <script id="earnlisttmp" type="text/x-kendo-template">
           <a href="components/detailsproductsbyid/view.html?id=#: id #">
            
                    <img style="width:100%;" src="#: image_url #"/>
                    
         </a>
       </script>
        
        
        
      <table style="width:100%;"></table>
    
     <div class="button-group bt_proid">
                    <a class="primary" data-role="backbutton"  >ยกเลิก</a>
      </div>
      <div style="height:30vh"> 
      </div>
    
   
</div>