<div data-role="view" data-title="" data-layout="main-nonav" data-model="app.earnbyid" data-show="app.earnbyid.onShow" data-after-show="app.earnbyid.afterShow">
      <div id = "headerGreen">
    <table style="width:100%">
    <tr>
    	<td>
        <img  src="images/pic-logo-home.png" style="margin:10px 10px;width: 30px; height: auto;" />
        </td>
        <td style="float:right;margin:10px 10px;">
        
            <span class="form_reg"> คะแนนสะสม  <br></span>
              <span class="form_reg" data-bind="text: data"></span>
            
        </td>
    </tr>
        <tr>
            <td colspan="2">
        	<img  src="images/line.jpg" style="margin:10px auto;display:block;width: 90%; height: auto;" />
        	</td>
        </tr>
    </table>
    </div>
        
    <div class="button-group">
    <a class="primary" data-role="button" data-bind="events: { click: earnbyidModel.information }">ฉลาดซื้อฉลาดเลือก</a>
    <a class="primary" data-role="button" data-bind="events: { click: earnbyidModel.earn }">สะสมคะแนน</a>
    <a class="primary" data-role="button" data-bind="events: { click: earnbyidModel.burnPoint }">รับสิทธิ์</a>
	</div>
    
    <!--
      <div class="circle-of-fifths">
      <div class="key">
            0
      </div>
      <div class="key">
            0
      </div>
      <div class="key">
            0
      </div>
      <div class="key">
            0
      </div>
      <div class="key">
            0
      </div>
      <div class="key">
            0
      </div>
      <div class="key">
            0
      </div>
      <div class="key">
            0
      </div>
      <div class="key">
            0
      </div>
      <div class="key">
            0
      </div>
      <div class="key">
            0
      </div>
      <div class="key">
            0
      </div>
    </div>
    -->
    <div class="begincircle">
        <div class="circle1">1</div>
        <div class="circle2">2</div>
        <div class="circle3">3</div>
        <div class="circle4">4</div>
        <div class="circle5">5</div>
        <div class="circle6">6</div>
        <div class="circle7">7</div>
        <div class="circle8">8</div>
        <div class="circle9">9</div>
        <div class="circle10">10</div>
        <div class="circle11">11</div>
        <div class="circle12">12</div>
        <div class="circletext">text</div>

    </div>
    
    
   
</div>