<div data-role="view" data-title="" data-reload="true" data-layout="main-nonav" data-model="app.information" data-show="app.information.onShow" data-after-show="app.information.afterShow">
	<div id = "headerinformation">
    <table style="width:100%"  class="message" >
    <tr>
    	<td style="width:23%">
        <img  src="images/pic-logo-home.png" style="width: 30px; height: auto;" />
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="width:23%">
           <img  src="images/icon-menu02.png" style="width: 30px; height: auto;" /> <br>
            <span class="form_reg" style="font-size:12px;"><b>ฉลากสิ่งแวดล้อม</b></span>
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="width:23%">
           <img  src="images/icon-menu03.png" style="width: 30px; height: auto;" /> <br>
            <span class="form_reg" style="font-size:12px;"><b>ข่าวสาร</b></span>
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="float:right;margin:10px 10px;">
        
            <span class="form_reg"><b> คะแนนสะสม</b>  <br></span>
            <span class="form_reg" style="font-size:12px;font-weight: bold;" data-bind="text: data" ></span>
            
        </td>
    </tr>
        <tr>
            <td colspan="7">
        	<img  src="images/line.png" style="margin:5px auto;display:block;width: 90%; height: auto;" />
        	</td>
        </tr>
    </table>
    </div>
    <table style="width:100%"  class="message" >
        <tr>
            <td style="float:left;margin:10px 20px;">
                <span style="font-size:20px;font-weight: bold;" data-bind="events: { click: informationModel.information }">หน้าหลัก</span>
            </td>
            <td>
                <span style="font-size:20px;color: #ffffff;" data-bind="events: { click: informationModel.earn }">สะสมคะแนน</span>
            </td>
            <td style="float:right;margin:10px 20px;">
                <span style="font-size:20px; color: #ffffff;" data-bind="events: { click: informationModel.burnPoint }">รับสิทธิ์</span>
            </td>
        </tr>
    </table>
    <!--
    <div class="button-group">
    <a class="primary" data-role="button" data-bind="events: { click: informationModel.information }">ฉลาดซื้อฉลาดเลือก</a>
    <a class="primary" data-role="button" data-bind="events: { click: informationModel.earn }">สะสมคะแนน</a>
    <a class="primary" data-role="button" data-bind="events: { click: informationModel.burnPoint }">รับสิทธิ์</a>
	</div>
    -->

   <div class="message">
    <p style="font-size:25px;font-weight: bold;">
       ฉลาดซื้อฉลาดเลือก
    </p>
    </div>
    <!--
    <div id="certtype"></div>
       
     <script id="certtypestmp" type="text/x-kendo-template">
       <p> #: name # </p>
    <table>
    <tr>
    	<td>
        <img  src="#: image_url #" />
        </td>
        <td>
        id = #: id # <br>
        points = #: points # 
        </td>
    </tr>
    </table> 
       </script>
    -->
    <img src="components/information/image/pic-50point.png" style="margin:0px auto;display:block;width: 90%; height: auto;">
    <img src="components/information/image/pic-40point.png" style="margin:0px auto;display:block;width: 90%; height: auto;">
    <img src="components/information/image/pic-30point.png" style="margin:0px auto;display:block;width: 90%; height: auto;">
    <img src="components/information/image/pic-20point.png" style="margin:0px auto;display:block;width: 90%; height: auto;">
    <img src="components/information/image/pic-10point.png" style="margin:0px auto;display:block;width: 90%; height: auto;">
    
</div>