<div data-role="view" data-title="" data-layout="main-nonav" data-model="app.information" data-show="app.information.onShow" data-after-show="app.information.afterShow">

    <div class="button-group">
    <a class="primary" data-role="button" data-bind="events: { click: informationModel.information }">ฉลาดซื้อฉลาดเลือก</a>
    <a class="primary" data-role="button" data-bind="events: { click: informationModel.earn }">สะสมคะแนน</a>
    <a class="primary" data-role="button" data-bind="events: { click: informationModel.burnPoint }">รับสิทธิ์</a>
	</div>


   <div class="message">
    <p>
       ฉลาดซื้อฉลาดเลือก
    </p>

   <ul data-role="listview" data-source="app.information.data" data-template="books-template"></ul>
        
    

    <script type="text/x-kendo-template" id="books-template">
    <p> #: name # </p>
    <table>
    <tr>
    	<td>
        <img  src="data:image/png;base64,#: image_medium #" />
        </td>
        <td>
        id = #: id # <br>
            points = #: points # 
        </td>
    </tr>
    </table>
           
            
           
     </script>
       
   

    </div>
    
    
</div>