<div data-role="view" data-title="" data-layout="main" data-model="app.termsofuse" data-show="app.termsofuse.onShow" data-after-show="app.termsofuse.afterShow">
    <div id="termsofuseModel" class="form-view" style="height:100vh">
        <p class="message">ข้อตกลงการใช้งาน</p></br>
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <div data-role="scroller" style="height: 70vh;">
                     <p>Enzo Ferrari was not initially interested in the idea of producing road cars when he formed Scuderia Ferrari in 1929,
                     with headquarters in Modena. Scuderia Ferrari (literally means "Ferrari Stable" and is usually
                     used to mean "Team Ferrari." Ferrari prepared and fielded Alfa Romeo racing cars for amateur drivers. In 1933 Alfa Romeo
                     withdrew its in-house racing team and appointed Scuderia Ferrari as works team. Enzo Ferrari received latest specifications
                     Monopostos and fielded many famous drivers such as Tazio Nuvolari and Achille Varzi. In 1938 Alfa Romeo brought its racing
                     operation again in-house, forming Alfa Corse in Milano and hired Enzo Ferrari as manager of the new racing department.
                     At the same time the Scuderia Ferrari was disbanded.</p>

                     <p>In September 1939, Enzo Ferrari left Alfa Romeo under the provision that he did not use the Ferrari name in association
                     with races or racing cars for at least four years. A few days later he founded Auto Avio Costruzioni, headquartered in the
                     facilities of the old Scuderia Ferrari. The new company ostensibly produced machine tools and aircraft accessories. In 1940
                     Ferrari did in fact produce a race car Â– the Tipo 815, based on a Fiat platform Â– in the non-competition period. It was the
                     first Ferrari car and debuted at the 1940 Mille Miglia, but due to World War II it saw little competition. In 1943 the
                     Ferrari factory moved to Maranello, where it has remained ever since. The factory was bombed by the Allies in 1944 and
                     rebuilt in 1946, after the war ended, and included a works for road car production.</p>

                     <p>The Scuderia Ferrari name was resurrected to denote the factory racing cars and distinguish them from those fielded by customer teams.</p>

                     <p>The first Ferrari road car was the 1947 125 S, powered by a 1.5 L V12 engine; Enzo Ferrari reluctantly built and sold his automobiles to fund Scuderia Ferrari.</p>
                     
                     <p>In 1960 the company was restructured as a public corporation under the name SEFAC S.p.A.</p>

                     <p>Early in 1969, Fiat took a 50% stake in Ferrari. An immediate result was an increase in available investment funds, and work started at
                     once on a factory extension intended to transfer production from Fiat's Turin plant of the Ferrari engined Fiat Dino. New model investment
                     further up in the Ferrari range also received a boost.</p>
                    </div>
            </ul>

            <div class="button-group" >
                <a class="primary" data-role="backbutton" data-transition="slide:left reverse"  >ยกเลิก</a>
                <a class="primary" data-role="button" data-bind="events: { click: termsofuseModel.submit }">ยืนยัน</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_termsofuseModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_termsofuseModel -->
    </div>

    <!-- START_CUSTOM_CODE_termsofuse -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_termsofuse -->
</div>