<div data-role="view" data-title="" data-layout="main-nonav" data-model="app.welcome" data-show="app.welcome.onShow" data-after-show="app.welcome.afterShow">

    <!--
    <div class="button-group">
        <a class="primary" data-role="button" data-bind="events: { click: welcomeModel.logout }">logout</a>
    </div>
    -->
    
    <div style="height:100vh" class="message">
        <p style="font-size:25px;"><B>
           ยินดีต้อนรับเข้าสู่
        </B></p>
         <p style="font-size:25px;"><B>
          แอปเดียวเขียวทั่วไทย
        </B></p>
        
        <table style="width:100%; " class="backgroundimgline">
            <tr>
             <td>
                 <img  src="images/icon-title01.png" style="width: 27%; height: auto; margin:0px 70px 0px 70px;" data-bind="events: { click: welcomeModel.information }" />
           
                 <img  src="images/icon-title02.png" style="width: 27%; height: auto;margin:0px 70px 0px 70px;" data-bind="events: { click: welcomeModel.earn }" />
    
                 <img  src="images/icon-title03.png" style="width: 27%; height: auto;margin:0px 70px 0px 70px;" data-bind="events: { click: welcomeModel.burnPoint }" />
                 <img  src="images/icon-title04.png" style="width: 27%; height: auto;margin:0px 70px 0px 70px;"  />
             </td>
            </tr>
          
        </table> 
        
    </div>
</div>