<div data-role="view" data-title="" data-layout="main-nonav" data-model="app.detailsproductsuccess" data-show="app.detailsproductsuccess.onShow" data-after-show="app.detailsproductsuccess.afterShow">


    <div id = "headerdetailsproductsuccess">
        <table style="width:100%"  class="message" >
    <tr>
    	<td style="width:23%">
        <a href="#components/welcome/view.html"><img  src="images/pic-logo-home.png" style="width: 30px; height: auto;" /></a>
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="width:23%">
           <img  src="images/icon-menu02.png" style="width: 30px; height: auto;" /> <br>
            <span class="form_reg" style="font-size:12px;"><b>ฉลากสิ่งแวดล้อม</b></span>
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="width:23%">
           <img  src="images/icon-menu03.png" style="width: 30px; height: auto;" /> <br>
            <span class="form_reg" style="font-size:12px;"><b>ข่าวสาร</b></span>
        </td>
        <td>
            <img  src="images/pic-line-small.png" style="height: 50px;" />
        </td>
        <td style="float:right;margin:10px 10px;">
        
            <span class="form_reg"><b> คะแนนสะสม</b>  <br></span>
            <span class="form_reg" style="font-size:12px;font-weight: bold;" data-bind="text: data" ></span>
            
        </td>
    </tr>
        <tr>
            <td colspan="7">
        	<img  src="images/line.png" style="margin:5px auto;display:block;width: 90%; height: auto;" />
        	</td>
        </tr>
    </table>
    </div>
    
    <table style="width:100%"  class="message" >
        <tr>
            <td style="float:left;margin:10px 20px;">
                <span style="font-size:20px;color: #ffffff;" data-bind="events: { click: information }">หน้าหลัก</span>
            </td>
            <td>
                <span style="font-size:20px;font-weight: bold;" data-bind="events: { click: earn }">สะสมคะแนน</span>
            </td>
            <td style="float:right;margin:10px 20px;">
                <span style="font-size:20px; color: #ffffff;" data-bind="events: { click: burnPoint }">รับสิทธิ์</span>
            </td>
        </tr>
    </table>
    
    
    
    
    <div style="height:100vh">
    	<img src="images/icon-thank-you.png" alt="Green card logo" style="margin:0px auto;display:block;width: 40%; height: auto;">
    
  
    <p style="font-size:40px; " class="message"><B>ขอบคุณ</B></p>
    <p style="font-size:25px; "class="message" >การสะสมแต้มของคุณมีส่วนช่วยลดโลกร้อน</p><br>
   </div>
</div>