<div data-role="view" data-title="" data-layout="main" data-model="app.reigister" data-show="app.reigister.onShow" data-after-show="app.reigister.afterShow">
    
    <div style="height:100vh">
        <p style="margin:60px 20px 10px 20px;font-size:25px;"class="message"><b>
            ลงทะเบียน
        </b></p>
        <div style="margin:0px auto;display:block;width: 60px;">
        <img src="images/pic-dot-line.png" style="width: 15px; height: auto;" >
        <img src="images/pic-dot-line.png" style="width: 15px; height: auto;" >
        <img src="images/pic-dot.png" style="width: 15px; height: auto;" >
        </div>
        <p class="message" style="margin:80px 0px 0px 0px;font-size:30px;"><b>
            ขอบคุณ
        </b></p>
        <p class="message" style="font-size:25px;">
            คุณลงทะเบียนสำเร็จแล้ว
        </p>
        
        <div class="button-group" style="width:50%; margin:auto; text-align:center;">
                <a class="primary" data-role="button" data-bind="events: { click: reigisterModel.gowelcome }">เริ่มใช้งาน</a>
         </div>

    </div>
</div>