<div data-role="view" data-title="" data-layout="main" data-model="app.reigister" data-show="app.reigister.onShow" data-after-show="app.reigister.afterShow">
    
    <div style="height:100vh">
            <p class="message">
            ลงทะเบียน
        </p>
        <div style="margin:0px auto;display:block;width: 60px;">
        <img src="images/pic-dot-line.png" style="width: 15px; height: auto;" >
        <img src="images/pic-dot-line.png" style="width: 15px; height: auto;" >
        <img src="images/pic-dot.png" style="width: 15px; height: auto;" >
        </div>
        <p class="message" style="margin:100px 0px">
            ขอบคุณ
        </p>
        <p class="message">
            คุณทะเบียนสำเร็จแล้ว
        </p>
        
        <div class="button-group">
                <a class="primary" data-role="button" data-bind="events: { click: reigisterModel.gowelcome }">เริ่มใช้งาน</a>
         </div>

    </div>
</div>