<div data-role="view" data-title="" data-layout="main" data-model="app.reigister" data-show="app.reigister.onShow" data-after-show="app.reigister.afterShow">
    
    <div  class="signup1-view" style="height:100vh">
        <img src="images/button-arrow-left.png" alt="left" style="margin:10px 10px;width: 15px; height: auto;" data-bind="events: { click: reigisterModel.gohome }">
        <p style="margin:10px 20px;font-size:25px;"class="message"><b>
            ลงทะเบียน
        </b></p>
        <div style="margin:0px auto;display:block;width: 60px;">
        <img src="images/pic-dot.png" style="width: 15px; height: auto;" >
        <img src="images/pic-dot-line.png" style="width: 15px; height: auto;" >
        <img src="images/pic-dot-line.png" style="width: 15px; height: auto;" >
        </div>

        <div id="signup1_form" data-role="validator" novalidate="novalidate">
            <form>
                <table style="width:95%;margin:20px 10px 20px 10px;" class="message" >
                   <tr class="backgroundimg" style="height:20px;">
                       <td>
                          <input id="email" name="email"  style="width:80%;"class="form_reg" data-bind="value: reigisterModel.fields.email" required validationMessage="***" placeholder="อีเมล์ของคุณ" type="email">
                           <span class="k-invalid-msg" data-for="email"></span>
                       </td>
                  </tr>
                    <tr style="height:3vh;">
                      <td>
                          
                      </td>
                  </tr>
                  <tr class="backgroundimg" style="height:20px;">
                      <td>
                          <input id="password1" name="password1"  style="width:80%;"class="form_reg" data-bind="value: reigisterModel.fields.password1" required validationMessage="***" placeholder="รหัสผ่าน" type="password">
                          <span class="k-invalid-msg" data-for="password1"></span>
                      </td>
                  </tr>
                      <tr style="height:3vh;">
                      <td>
                          
                      </td>
                  </tr>
                     <tr class="backgroundimg" style="height:20px;">
                      <td>
                          <input id="confirmpassword" name="confirmpassword"  style="width:80%;"class="form_reg" data-bind="value: reigisterModel.fields.confirmpassword" required validationMessage="***" placeholder="ยืนยันรหัสผ่าน" type="password">
                          <span class="k-invalid-msg" data-for="confirmpassword"></span>
                      </td>
                  </tr>
                  <tr style="height:40px;">
                      
                  </tr>
                    
                    
                </table>
                <div class="button-group" >
                <a class="primary" style="height:8vh;" data-role="button" data-bind="events: { click: reigisterModel.toggleView }">ถัดไป >>></a>
                </div>
             </form>
             
         </div>
        
    </div>
    
    <div  class="signup2-view" style="display:none;height:100vh;">
        <img src="images/button-arrow-left.png" alt="left" style="margin:10px 10px;width: 15px; height: auto;" data-bind="events: { click: reigisterModel.toggleView }">
        <p style="margin:10px 20px;font-size:25px;"class="message"><b>
            ลงทะเบียน
        </b></p>
        <div style="margin:0px auto;display:block;width: 60px;">
        <img src="images/pic-dot-line.png" style="width: 15px; height: auto;" >
        <img src="images/pic-dot.png" style="width: 15px; height: auto;" >
        <img src="images/pic-dot-line.png" style="width: 15px; height: auto;" >
        </div>

     <div id="signup2_form" data-role="validator" novalidate="novalidate">
      <form>
        <table style="width:100%;" >
         <tr>
             <td>
                <p>
                    ชื่อ
                </p>
            </td>
             <td>
                 <input id="firstname" name="firstname" class="form_reg" data-bind="value: reigisterModel.fields.firstname"  type="text" required validationMessage="***">
                 <span class="k-invalid-msg" data-for="firstname"></span>
             </td>
         </tr>
          <tr>
             <td colspan="2" >
                <img  src="images/line.png" style="margin:0px auto;display:block;width: 90%; height: auto;" />
            </td>
         </tr>
          <tr>
             <td>
                <p>
                   นามสกุล
                </p>
            </td>
             <td>
                 <input id="lastname" name="lastname" class="form_reg" data-bind="value: reigisterModel.fields.lastname"  type="text" required validationMessage="***">
                 <span class="k-invalid-msg" data-for="lastname"></span>
                 
             </td>
         </tr>
            <tr>
             <td colspan="2" >
                <img  src="images/line.png" style="margin:0px auto;display:block;width: 90%; height: auto;" />
            </td>
         </tr>
                <tr>
             <td>
                <p>
                   เบอร์โทรศัพท์
                </p>
            </td>
             <td>
                 <input id="mobile" name="mobile" class="form_reg" data-bind="value: reigisterModel.fields.mobile"  type="tel" required validationMessage="***">
                 <span class="k-invalid-msg" data-for="mobile"></span>
             </td>
         </tr>
            
            <tr>
             <td colspan="2" >
                <img  src="images/line.png" style="margin:0px auto;display:block;width: 90%; height: auto;" />
            </td>
         </tr>
            <!--
         <tr>
             <td>
                <p>
                   วันเกิด
                </p>
            </td>
             <td>
                 <input class="form_reg" data-bind="value: reigisterModel.fields.birthdate" type="date">
             </td>
         </tr>
            
            <tr>
             <td colspan="2" >
                <img  src="images/line.png" style="margin:0px auto;display:block;width: 90%; height: auto;" />
            </td>
         </tr>
            
         <tr>
             <td>
                <p>
                   เพศ
                </p>
            </td>
             <td>
                 <select class="form_reg" data-bind="value: reigisterModel.fields.gender" data-role="dropdownlist">
                            <option value="M">ชาย</option>
                            <option value="F">หญิง</option>
                        </select>
             </td>
         </tr>
            
            <tr>
             <td colspan="2" >
                <img  src="images/line.png" style="margin:0px auto;display:block;width: 90%; height: auto;" />
            </td>
         </tr>
            -->
         <tr>
             <td>
                <p>
                   หมายเลขบัตรประชาชน
                </p>
            </td>
             <td>
                 <input id="citizenid" name="citizenid"  class="form_reg" data-bind="value: reigisterModel.fields.citizenid" type="number" required validationMessage="***">
                 <span class="k-invalid-msg" data-for="citizenid"></span>
             </td>
         </tr>
            <tr>
             <td colspan="2" >
                <img  src="images/line.png" style="margin:0px auto;display:block;width: 90%; height: auto;" />
            </td>
         </tr>
            <!--
         <tr>
             <td>
                <p>
                   อาชีพ
                </p>
            </td>
             <td>
                 <select class="form_reg" data-bind="value: reigisterModel.fields.occupation" data-role="dropdownlist">
                            <option value="0">ราชการ</option>
                            <option value="1">เอกชน</option>
                            <option value="2">รัฐวิสาหกิจ</option>
                            <option value="3">อิสระ</option>
                            <option value="4">NGO</option>
                            <option value="5">นิสิต-นักศึกษา </option>
                 </select>
             </td>
         </tr>
            <tr>
             <td colspan="2" >
                <img  src="images/line.png" style="margin:0px auto;display:block;width: 90%; height: auto;" />
            </td>
         </tr>
            -->
            
            
        </table>
        
             
        
         <div class="button-group">
                <a class="primary" data-role="button" data-bind="events: { click: reigisterModel.submit }" >ถัดไป >>></a>
           </div>
      </form>
     </div>
    </div>
</div>